@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Josefin+Sans:ital,wght@1,300&display=swap");

:root {
  --ff-head: "Black Ops One", cursive;
  --ff-other: "Josefin Sans", sans-serif;
}

body {
  background-image: url(./images/Multibracelet-bured.jpg);
  background-size: cover;
  font-family: var(--ff-other);
}

.Header {
  min-height: 10rem;
  background-color: rgba(255, 255, 255, 0.3);
  color: aliceblue;
  font-size: 4rem;
  text-align: center;
  text-shadow: 0rem 0 0.5rem rgb(0, 0, 0);
}

.side-menubar {
  min-height: 90vh;
  background-color: rgba(255, 255, 255, 0.3);
}

.store-item {
  background-color: rgba(255, 255, 255, 0.3);
  min-height: 20rem;
  text-align: center;
  color: white;
  box-shadow: 0 0 1rem black;
}

.Item-pic {
  width: 10rem;
  margin: auto;
}

.style-img {
  width: 10rem;
  height: 10rem;
}

input[type="radio"] {
  display: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: white;
  padding: 1rem;
}

.h1 {
  font-family: var(--ff-head);
  font-size: 5rem;
}
